{% extends 'base.html' %}

{% block meta %}
<title>Daftar</title>
{% endblock meta %}

{% block content %}

<style>
    input {
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 8px;
    }
    ul {
        padding-left: 0.5rem;
        list-style-type: disc;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Overwrite default styles of hr */
    tr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
        opacity: 0.9;
        text-align: center;
        margin: auto;
        margin-bottom: -28px;
        margin-top: 8px;
        display: flex;
        display: grid;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    h1 {
        color:#04AA6D;
        font-weight: 100;
        text-align: center;
    }
</style>

<div class="container">

  <h1>Register Account</h1>

  <div class="rounded-lg p-4 flex flex-col gap-4 mx-auto bg-base-100">
    <form method="POST">
      {% csrf_token %}
      <div class="flex flex-col gap-4">
        {% for field in form %}
            <div class="form-control w-full max-w-md">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                  <div class="alert alert-info text-info-content my-2">
                    <div class="flex flex-col">{{ field.help_text | safe }}</div>
                  </div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="registerbtn">Register</button>
      </div>

    </form>

    {% if messages %}
    <ul class="alert alert-info flex-col text-left text-info-content">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock content %}