{% extends 'base.html' %}

{% block meta %}
<title>TODO List</title>
{% endblock meta %}

{% block content %}

<div class="container mx-auto pt-4 flex flex-col gap-4">
  <div class="flex flex-row items-center justify-center md:justify-end gap-4">
    <p class="text-xl">
      Hello, {{ user.get_username }}
    </p>
    <a href="{% url 'todolist:logout' %}" class="btn btn-error ">Log Out</a>
    <a href="{% url 'todolist:create-task' %}" class="btn btn-primary">Create Task</a>
  </div>

  {% if messages %}
  <ul class="alert alert-info flex-col text-left text-info-content">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% for task in list_kegiatan %}
  <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-2">
    <div class="scale-100 hover:scale-105 transition card bg-neutral text-neutral-content">
      <div class="card-body items-center text-center">
        <h2 class="card-title">{{ task.title }}</h2>
        <span>{{ task.date }} | {{ task.is_finished | yesno:"Finished,Not Finished" }}</span>
        <p class="break-all">{{ task.description }}<p>
        <div class="card-actions justify-end">
          <form action="{% url 'todolist:update-task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">Update</button>
          </form>
          <form action="{% url 'todolist:delete-task' task.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-error">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor content %}
  </div>
</div>

<script>
  let container;
  function createCardHtml(task, id) {
    const { title, date, description} = task
    const isFinishedText = task.is_finished ? "Finished" : "Not Finished"
    return `
      <div class="scale-100 hover:scale-105 transition card bg-neutral text-neutral-content">
        <div class="card-body items-center text-center">
          <h2 class="card-title">${title}</h2>
          <span>${date} | ${isFinishedText}</span>
          <p class="break-all">${description}</p>
          <div class="card-actions justify-end">
            <form action="/todolist/update/${id}" method="POST">
              {% csrf_token %}
              <button class="btn btn-primary">Toggle</button>
            </form>
            <form action="/todolist/delete/${id}" method="POST">
              {% csrf_token %}
              <button class="btn btn-error removebtn" data-id="${id}">Delete</button>
            </form>
          </div>
        </div>
      </div>
    `
  }

  function removeTodo(e) {
    const id = $(e.target).data("id")
    e.preventDefault()
    $.ajax({
      type: 'DELETE',
      url: '/todolist/delete/json/' + id,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
      success: () => {
        alert("Done!")
        fetchData()
      }
    })
  }

  function renderTodo(task) {
    todos.map((task) => {
      const newNode = $(createCardHtml(task.fields, task.pk))
      newNode.find(".removebtn").click(removeTodo)
      container.append(newNode)
    })
  }

  function fetchData() {
    container.empty()
    $.get("{% url 'todolist:show_list_json' %}", renderTodo)
  }

  function createTodo(e) {
    e.preventDefault()
     $.ajax({
      type: 'POST',
      url: '/todolist/create/json',
      data: $("#newForm").serialize(), 
      success: () => {
        alert("Done!")
        $("#my-modal").click()
        fetchData()
      },
      dataType: 'json'
    });
  }

  $(document).ready(() => {
    $("#newBtn").click(createTodo)
    container = $("#todosContainer")
    fetchData()
  })
</script>

{% endblock %}